<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Home </a>
      <a class="nav-item nav-link" routerLink="/service">Services Eg</a>
      <a class="nav-item nav-link" routerLink="/pipe">CustomPipes Eg</a>
    </div>
  </div>
</nav>

<router-outlet>
  <!-- here basically both the components will be routed dynamically as needed  -->
  <!-- <app-todos/> -->
  <!-- <app-service/> -->
</router-outlet>